extends layout
block content
	div.add-form
		if errors
			p.errors= errors
		form(action="", method="POST", enctype="multipart/form-data")
			input(type="file", name="background", required)
			input(type="text", placeholder="Category Name", name="name", required)
			input(type="password", placeholder="password", name="password", required)
			button Submit
