extends layout
block content
	div.delete-item
		if errors
			p.errors= errors
		p.message Do you really wish to delete this item?
		a.no(href="/") No
		form(action="", method="POST")
			input(type="password", name="password", placeholder="password")
			button Yes
