extends layout
block content
	div.delete-category
		if errors
			p.errors= errors
		if items.length
			p.message Please delete the following items before deleting this category:
			ul
				each item in items
					li
						a.item(href=`/item/${item.id}`)
							img(src=item.src)
		else
			p.message Do you really wish to delete this category?
			a.no(href="/") No
			form(action="", method="POST")
				input(type="password", name="password", placeholder="password")
				button Yes
