extends layout
block content
	div.item
		div.container
			img(src=item.thumbnail)
			if !item.purchased
				p= `price: ${item.price}c`
		div.links
			a.see-item(href=`/item/${item.id}/full`)
				if item.purchased
					span See Item
				else
					span Buy Item
			a.delete-item(href=`/item/delete/${item.id}`) Delete Item
